*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

#app{
  text-align: center;
}

.main-app{
  background-color: blue;
  border-top: 1em solid green;
  height: 220px;
  margin: 0;
  padding: 0;
}

h1{
  color: #fff;
  font-size: 2em;
  margin: 0;
  padding: 1.5em 0 0em;
}

.pic-form{
  background-color: red;
  border: 1px solid gold;
  margin: 0 auto;
  position: relative;
  top: 25px;
  width: 80%;
}

.pic-term{
  background-color: blue;
  border: none;
  border-bottom: 2px solid gold;
  color: #fff;
  display: block;
  font-size: 1em;
  height: 2em;
  margin: 1.5em auto 0.75em;
  width: 200px;
}

.get-pic-btn{
  height: 2em;
  font-size: 1em;
  margin-bottom: 1.5em;
  width: 200px;
}

.pic-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em auto;
  max-width: 1100px;
}

img{
  width: 100%;
}

a{
  flex-basis: 47%;
  margin: 1.5%;
  max-height: 150px;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  a{
    flex-basis: 30%;
    max-height: 250px;
  }
  h1{
    font-size: 3em;
  }
}

@media screen and (min-width: 1000px) {
  a{
    flex-basis: 20%;
  }
}
